@use "../../themes/generated/variables.base-dark.scss" as baseDark;
@import "../../themes/generated/variables.base.scss";

.reset-password-form {
  .submit-button {
    margin-top: 10px;
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }
}

.dx-swatch-base-dark .reset-password-form .login-link {
  color: baseDark.$base-accent;
}