@use "../../themes/generated/variables.base-dark.scss" as baseDark;
@import "../../themes/generated/variables.base.scss";

.login-form {
  .link {
    text-align: center;
    font-size: 16px;
    font-style: normal;

    a {
      text-decoration: none;
    }
  }

  .form-text {
    margin: 10px 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }
}

.dx-swatch-base-dark .login-form .form-text {
  color: rgba(baseDark.$base-text-color, alpha(baseDark.$base-text-color) * 0.7);
}
